/*CSS reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,hr {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a {
    color: #000;
    text-decoration: none;
}
/*CSS Reset*/
input {
    margin-top: 25px;
    display: inline;
    width: 90%;
}
.btn{
    padding: 5px;
    background: dodgerblue;
    border-radius: 48px;
}
.chat {
    background: rgba(117,187,253, 0.7);
    border-radius: 20px;
    padding-bottom: 10px;
}
.chat_header {
    margin-bottom: 20px;
    background: rgb(0,0,128);
    display: flex;
    align-items: center;
    padding: 10px;
}
.chat_user {
    color: cadetblue;
    margin-left: 100px;
}
img {
    border-radius: 25%;
    border: solid 2px rgba(0,0,0,0);
}
img:hover {
    border-color: blue;
    cursor: pointer;
}
.user {
    text-decoration: underline darkblue;
    color: dodgerblue;
}
.context {
    display: inline-block;
    max-width: 50%;
    word-wrap: break-word;
}
.thumbnail {
    margin-top: -10px;
    width: 45px;
    height: 45px;
    margin-right: 10px;
    float: left;
}
.info {
    margin-top: -10px;
    float: right;
    text-align: right;
}
.message {
    background: rgba(190, 245, 116, 0.3);
    padding: 10px;
    margin: 0 0 10px 10px;
    border-radius: 10px;
    width: 70%;
}
.area {
}
.selected {
    background: rgba(0, 206, 209, 0.5)
}
.remove_btn {
    color: darkblue;
    margin-top: -10px;
    float: right;
}